<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rickyberg.bioscopify">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bioscopify_logo_resized"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bioscopify_logo_resized"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBseopqdTQGL4sOnneFYlsesjvJNsQl5KI" />

        <activity
            android:name=".PresentationLayer.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PresentationLayer.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PresentationLayer.MainActivity" />
        </activity>
        <activity android:name=".PresentationLayer.TicketSelectActivity" />
        <activity android:name=".PresentationLayer.SeatSelectActivity"/>
        <activity android:name=".PresentationLayer.PayOrderActivity"/>
        <activity android:name=".PresentationLayer.ProcessingActivity"/>
        <activity android:name=".PresentationLayer.ConfirmationActivity"/>

        <activity android:name=".PresentationLayer.FilterActivity"></activity>
    </application>

</manifest>